<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>카테고리별 상품</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/product/product.css}">
</head>
<body>
<div layout:fragment="content" class="container mt-5 main-content-padding">
    <div class="row">
        <!-- 왼쪽 카테고리 바 -->
        <div class="col-md-2">
            <div class="categoryBar">
                <h5 class="mb-3">카테고리</h5>
                <div class="list-group">
                    <a th:each="cat : ${viewData.categories}"
                       th:href="@{/products/category/{id}(id=${cat.id})}"
                       th:text="${cat.name}"
                       class="list-group-item list-group-item-action"
                       th:classappend="${cat.id == category.id} ? ' active' : ''">
                    </a>
                    <a th:href="@{/}"
                       class="list-group-item list-group-item-action text-dark fw-bold"
                       th:classappend="${category == null} ? ' active' : ''">
                        전체 보기
                    </a>
                </div>
            </div>
        </div>

        <!-- 오른쪽 콘텐츠 -->
        <div class="col-md-10">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3 th:text="'카테고리: ' +  ${category.name}">카테고리명</h3>
                <div>
                    <a class="btn btn-outline-primary me-2"
                       th:href="@{|/products/category/${category.id}?sort=latest|}"
                       th:classappend="${viewData.currentSort == 'latest'} ? ' active'">
                        최신순
                    </a>
                    <a class="btn btn-outline-primary"
                       th:href="@{|/products/category/${category.id}?sort=likes|}"
                       th:classappend="${viewData.currentSort == 'likes'} ? ' active'">
                        좋아요순
                    </a>
                </div>
            </div>

            <div th:replace="fragments/product-card :: cardList(${viewData.products})"></div>
        </div>
    </div>
</div>
</body>
</html>
