table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.actions-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px; /* 버튼 사이 간격*/
}

.actions-buttons a,
.actions-buttons form {
    width: 100px;
}

.actions-buttons button {
    width: 80%;
    padding: 6px 0;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 4px;
    flex-wrap: wrap;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 6px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.2s, color 0.2s;
    font-size: 14px;
}

.pagination a:hover {
    background-color: #f0f0f0;
}

.pagination .active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    pointer-events: none;
}