<div th:fragment="cardList(products)">
    <div class="row">
        <div class="col-md-3 mb-4" th:each="product : ${products}">
            <a th:href="@{/products/{id}(id=${product.id})}" class="text-decoration-none text-dark">
                <div class="card h-100">
                    <img th:src="${product.thumbnailUrl}" class="card-img-top" alt="상품 이미지">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <h5 class="card-title text-truncate" th:text="${product.title}">상품명</h5>
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <p class="card-text mb-0" th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')} + '원'">0원</p>
                                <small class="text-muted" th:text="${product.createdAt}">1분 전</small>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
